$mobileMedia: 896px;

// HEADER

$headerMenuHighlightColor: rgba(255, 255, 255, 0.8);
$headerBasicColor: rgba(255, 255, 255, 1);
$burgerMenuBackgroundColor: rgba(0, 0, 0, 0.7);
$searchIconPath: "../static/images//searchIcon.png";
$sliderTransitionDuration: 0.5s;
$burgerMenuTransitionDuration: 0.5s;
$searchInputResizeTransitionDuration: 0.4s;

// LOGIN

$elementsMobileWidth: 80vw;
$elementsMobileHeight: 50px;
$elementsDesktopWidth: calc(#{$mobileMedia} - 200px);
$elementsDesktopHeight: 50px;
$inputColor: rgba(74, 91, 180, 1);
$buttonColor: rgba(186, 195, 240, 1);
