@import './constants.scss';

@mixin slideIn {
    opacity: 0;
    animation: slide-in 0.5s forwards;

    @keyframes slide-in {
        100% { opacity: 1; }
    }
}

@mixin slideOut {
    opacity: 0;
    animation: slide-out 0.5s forwards;

    @keyframes slide-out {
        0% { opacity: 1; }
    }
}

.Header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .Icon {
        flex: initial;
        @media(min-width: $mobileMedia) {
            width: 50px;
            height: 50px;
            margin: 5px 10px 5px 5px;
        }
        @media(max-width: $mobileMedia) {
            width: 45px;
            height: 45px;
            margin: 5px 5px 5px 5px;
        }
    }

    .Title {
        font-size: 30px;
        color: white;
        margin-right: 10px;
        flex: initial;

        @media(max-width: $mobileMedia) {
            font-size: 25px;
        }
    }

    .SearchBar {
        outline: none;
        width: 20%;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin: auto;

        input[type=search] {
            width: 40px;
            height: 40px;
            outline: none;
            border: none;

            background: url($searchIconPath);
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: right;

            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=search]:hover {
            background-color: transparent;
            cursor: pointer;
        }

        input[type=search]:focus {
            width: 100%;
            max-width: 500px;
            padding-left: 45px;
            color: white;
            background-color: transparent;
            background-position: 2%;
            background-size: 30px;
            font-size: 20px;

            border: 2px solid white;
            border-radius: 15px;
            cursor: auto;
        }

        input:-moz-placeholder {
            color: transparent;
        }

        input::-webkit-input-placeholder {
            color: transparent;
        }

        @media(max-width: $mobileMedia) {
            margin: 5px auto;
        }
    }

    nav[role=navigation] {
        @media (min-width: $mobileMedia + 1) {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;

            ul[role=mainNav] {
                display: flex;
                list-style-type: none;
                padding-inline-start: 0px;
                color: white;
                margin-top: 25px;

                .ProfileLinks {
                    display: flex;
                    margin-left: 50px;
                }

                li {
                    margin-left: 20px;
                    color: rgba(255, 255, 255, 0.8);
                    cursor: pointer;
                }

                li:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }

            .burgerMenuIcon {
                display: none;
            }
        }

        @media (max-width: $mobileMedia) {
            display: flex;
            justify-content: flex-end;

            .burgerMenuIcon {
                display: flex;
                justify-content: flex-end;
                margin-right: 5px;
                margin-left: 10px;
                color: rgba(255, 255, 255, 0.8);
                font-size: 50px;
                cursor: pointer;
            }

            ul[role=mainNav] {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                list-style-type: none;
                font-size: 35px;
                height: 100%;
                padding-right: 25px;

                .ProfileLinks {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                }

                li {
                    z-index: 0;
                    color: white;
                    text-align: center;
                    margin: 15px auto;
                    cursor: pointer;
                }
            }

            &.burgerVisible {
                ul[role=mainNav] {
                    @include slideIn;
                    background-color: rgba(0, 0, 0, 0.7);
                }

                >.burgerMenuIcon {
                    transform: rotate(180deg);
                    transition-duration: 0.5s;
                    z-index: 1;
                }
            }

            &.burgerHidden {
                ul[role=mainNav] {
                    display: none;
                    @include slideOut;
                }

                >.burgerMenuIcon {
                    transform: rotate(-180deg);
                    transition-duration: 0.5s;
                }
            }
        }
    }
}
