.Profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;

  .Button {
    width: 200px;
  }

  .ButtonWarning {
    color: black;
    background-color: red;
  }

  .DeleteBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .ConfirmText {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }
}
