@import "./constants.scss";

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .FormError {
    display: flex;
    justify-content: center;
    color: red;
    white-space: pre-wrap;
  }
}
